@import "variables";

.catalog {
  padding-top: 100px;
  padding-bottom: 110px;

  .container {
    .catalog-title {
      color: $green-text-color;
      font-size: 36px;
      font-family: Lora, sans-serif;
      font-weight: 400;
      margin-left: 317px;
      margin-bottom: 33px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 317px;

      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .catalog-applied-filter {
          border-radius: 50px;
          border: 1px #E7F1E8 solid;

          color: $gray-text-color;
          font-size: 16px;
          padding: 8px 14px;
          display: flex;
          align-items: center;


          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .catalog-sorting {
        width: 257px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;

        .catalog-sorting-head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 23px;
          justify-content: right;
          gap: 8px;
          color: $gray-text-color;

          span {
            margin-right: 8px;
          }
        }

        .catalog-sorting-body {
          position: absolute;
          width: 100%;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          background-color: #F5F5F5;
          border-radius: 0 0 5px 5px;
          color: #8e8e8e;
          box-sizing: border-box;

          .catalog-sorting-item {
            margin-bottom: 14px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }
            &.active {
              color: #313131;
            }
          }
        }

        &.open {
          width: 257px;
          .catalog-sorting-head {
            color: #000;
            background: #ebebeb;
            border-radius: 5px 5px 0 0;
            padding-right: 23px;
            justify-content: space-between;

            span {
              margin-right: 0;
            }

          }
          .catalog-sorting-body {
            display: block;
          }
        }

      }
    }

    .catalog-layout {
      margin-top: 30px;
      display: flex;

      .catalog-filters {
        width: 257px;
        min-width: 257px;
        margin-right: 58px;
        //display: flex;
        //flex-direction: column;

      }

      .catalog-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px 30px;
      }
    }

    .pagination {
      margin-top: 79px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        margin: 0 30px;
        display: flex;
        align-items: center;

        a.pagination-page {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          margin-right: 15px;
          cursor: pointer;
          color: $gray-text-color;
          font-size: 20px;

          &.active {
            border-radius: 50%;
            background: #b6d5b9;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

