<section class="main">
  <div class="container">
    <div class="main__title">
      Создадим сад <br>
      в вашем доме и офисе
    </div>
    <div class="main__text">
      Если в большом городе вы скучаете по природе, ничто не мешает вам превратить в оазис квартиру или офис. И мы
      поможем вам это сделать!
    </div>
  </div>
</section>
<section class="offers">
  <div class="container">
    <div class="offer offer-insta">
      <div class="offer_title">Получи скидку 10% в нашем инстаграме!</div>
      <div class="offer_content">
        <div class="offer_image">
          <img src="/assets/images/page/offer1.png" alt="Offer1 image">
        </div>
        <div class="offer_inner-content">
          <div class="offer-text">Подпишись на наш аккаунт и напиши в direct “хочу промокод”</div>
          <div class="offer_button">
            <a href="#" class="button">Получить промокод</a>
          </div>
        </div>
      </div>
    </div>
    <div class="offer offer-collection">
      <div class="offer_title">Новая коллекция керамических кашпо в наличии</div>
      <div class="offer_content">
        <div class="offer_image">
          <img src="/assets/images/page/offer2.png" alt="Offer2 image">
        </div>
        <div class="offer_button">
          <a routerLink="/catalog" class="button">В каталог</a>
        </div>
      </div>
    </div>
  </div>
</section>
