@import "variables";
@import "mixins";

.main {
  background-image: url("../../../assets/images/page/backMain.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 210px);
  padding-top: 58px;
  padding-bottom: 231px;

  .container {
    .main__title {
      font-family: Lora, sans-serif;
      font-weight: 400;
      line-height: 78px;
      font-size: 60px;
      color: #2a592e;
      margin-bottom: 67px;
    }

    .main__text {
      max-width: 528px;
      color: $green-text-color;
      font-size: 18px;
      line-height: 25.20px;
    }
  }
}

.offers {
  background-color: #A4CBA3;
  padding: 80px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .offer {
      width: 600px;
      height: 250px;
      padding: 35px 35px 0 35px;
      background: white;
      border-radius: 5px;
      box-sizing: border-box;

      .offer_title {
        color: $green-text-color;
        line-height: 26px;
        font-size: 20px;
      }

      .offer_content {
        display: flex;

        .offer-text {
          color: $green-text-color;
          font-size: 16px;
          line-height: 20.80px;
        }
      }

      &.offer-insta {
        .offer_image {
          margin-top: 35px;
        }

        .offer-text {
          margin-top: 16px;
          max-width: 234px;
          margin-left: 58px;
        }

        .offer_button {
          margin-top: 22px;
          margin-left: 168px;

          .button {
            width: 228px;
          }
        }
      }

      &.offer-collection {
        .offer_title {
          max-width: 362px;
        }

        .offer_image {
          margin-top: 12px;
          margin-left: 81px;
        }

        .offer_button {
          margin-top: 75px;
          margin-left: 44px;

          .button {
            width: 177px;
          }
        }
      }
    }
  }
}

.best-products {
  padding-top: 120px;
  padding-bottom: 130px;

  .container {
    .carousel-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;

      .carousel-title {
        @include head-lora-32;
      }

      .carousel-arrows {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          cursor: pointer;
          text-decoration: none;
        }

        a:last-child {
          margin-left: 30px;
        }
      }
    }
  }
}

.info {
  background-color: #A4CBA3;
  background-image: url("../../../assets/images/page/info-bg.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 340px);
  padding: 80px 0;

  .container {
    .info-title {
      @include head-lora-32;
      margin-bottom: 5px;
    }

    .info-item {
      margin-top: 35px;
      color: #000000;
      max-width: 442px;

      .info-image {
        margin-bottom: 30px;
      }

      .info-text {
        font-size: 16px;

        .info-text-main {
        }

        .info-text-extra {
          font-family: Montserrat, sans-serif;
          font-style: italic;
          font-weight: 300;
          line-height: 20.80px;
          margin-top: 8px;
        }
      }

      &.info-delivery {
        .info-text:last-child {
          margin-top: 16px;
        }
      }

      &.info-payment {
        .info-text {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}

.reviews {
  margin: 130px 0;
  .container {
    .reviews-title {
      @include head-lora-32;
      text-align: center;
      margin-bottom: 50px;
    }
    .reviews-carousel {
      position: relative;

      .reviews-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid #2A592E;
        box-sizing: border-box;

        .reviews-item-head {
          display: flex;
          align-items: center;

          .reviews-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 26px;
          }
          .reviews-item-name {
            color: $green-text-color;
            font-size: 16px;
            font-family: Montserrat, sans-serif;
            font-weight: 600;
          }
        }
        .reviews-item-text {
          margin-top: 15px;
          color: $gray-text-color;
          font-size: 16px;
          line-height: 22.40px;
        }
      }

    .reviews-carousel-arrows {
      display: flex;
      a {
        top: calc(50% - 5px);
        display: flex;
        position: absolute;
        cursor: pointer;

        &.move-backward {
          left: -41px;
        }
        &.move-forward {
          right: -41px;
        }
      }
    }
    }
  }
}

.map iframe {
  vertical-align: bottom;
}
