@import "auth-form";

.login {
  .container {
    display: flex;

    .auth__form {

      .auth__form-action {

        button {
          width: 422px;
        }
      }
    }

    .page__image {
      margin-left: 49px;
      display: flex;
      align-items: flex-end;

      img {
        //vertical-align: bottom;
      }
    }
  }
}
