@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid #2a592e;
  border-radius: 3px;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;
}

.small-input {
  width: 40px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #6CAC72;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  color: $green-text-color;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.button {
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  background: #456f49;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;

  &.button-transparent {
    background: transparent;
    border: 1px solid #6CAC72;
    color: $green-text-color;
  }

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 16px;
    }
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &.button-in-cart span{
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }
  &:hover {
    &.button-in-cart span{
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-block;

}

.mat-mdc-menu-item-text {
  a, span {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: $gray-text-color;
  }
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  .carousel-title {
    @include head-lora-32;
  }

  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      cursor: pointer;
      text-decoration: none;
    }

    a:last-child {
      margin-left: 30px;
    }
  }
}
