@import "variables";

header.header {
  padding: 30px 0 40px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .header__content {

      .header__top {
        padding-top: 32px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #C5C5C5;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 16px;

        .header__top-menu {
          margin-left: 26px;
          margin-right: 231px;

          nav ul {
            display: flex;
            align-items: center;
            gap: 40px;
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              border-bottom: 1px solid transparent;

              &.active {
                border-bottom-color: $green-text-color;
              }

              a {
                color: $green-text-color;
                cursor: pointer;
                text-decoration: none;
              }
            }
          }
        }

        .header__top-phone {
          color: $green-text-color;
          text-decoration: none;
          margin-right: 59px;
        }

        .header__top-actions {
          display: flex;
          align-items: center;

          a {
            margin-right: 8px;
            cursor: pointer;

            &:last-child {
              margin-right: 18px;
              position: relative;
            }

            span {
              position: absolute;
              bottom: 1px;
              right: -16px;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: #b6d5b9;
              font-family: Montserrat, sans-serif;
              font-weight: 400;
              font-size: 10px;
              //line-height: 18px;
              //text-align: center;
              color: $green-text-color;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .header__bottom {
        padding-top: 16px;
        display: flex;
        align-items: center;

        .header__bottom-menu {
          margin-left: 26px;
          margin-right: 146px;

          nav ul {
            display: flex;
            align-items: center;
            gap: 50px;
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              border-bottom: 1px solid transparent;

              &.active {
                border-bottom-color: $green-text-color;
              }
              a {
                color: $green-text-color;
                cursor: pointer;
                text-decoration: none;
                font-size: 16px;
              }
            }
          }
        }

        .header__bottom-search {
          position: relative;

          input {
            border: 1px solid $green-text-color;
            border-radius: 30px;
            padding: 10px 10px 10px 43px;
            font-size: 16px;
            color: $green-text-color;
            width: 214px;
            height: 41px;
            box-sizing: border-box;
            outline: none;
          }

          &::after {
            content: "";
            background-image: url("../../../../assets/images/icons/search.png");
            background-size: cover;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 13px;
            left: 15px;
          }
        }
      }

    }
  }
}
